<div id="displayassignmentsdiv" class="row displaydiv"></div>


<%- contentFor('cssAfter')%>
<style>
body {
    width: 600px;
    margin: 0 auto;
}
</style>

<%- contentFor('scriptsAfter') %>
<script src="/public/js/grades.js" type="module"></script>

